<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.internshipmanagement">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Internshipmanagement"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.notification.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tasksubmission.SubmissionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.taskdetail.mentee.MenteeTaskDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.fullimage.FullImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.taskreviewing.TaskReferenceDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".ui.evaluationcreating.EvaluationCreatingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.evaluationprofile.EvaluationProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.searchusers.SearchResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.userprofile.other.UserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.taskdetail.mentor.MentorTaskDetailActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity
            android:name=".ui.login.LogInActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity android:name=".ui.taskreference.TaskReferencesActivity" />
        <activity android:name=".ui.addtask.AddNewTaskActivity" />
        <activity android:name=".ui.profileediting.ProfileEditingActivity" />
        <activity
            android:name=".ui.main.MainActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity android:name=".ui.applaunching.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".util.FCMHelper"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>